html, body {
    margin: 1em;
    height: 100%;
    font-size: 100%;
}
* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
    /*-----------------------------------------------------------*/
table.first {
    border-collapse: separate;
    border: 2px solid black;    
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}
    /*-----------------------------------------------------------*/
table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}
table.second thead tr:first-child{     
    border-bottom: 2px solid purple;
}
table.third {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: left;
}
table.third th,
table.third td {
    padding: 8px 12px;
    border: 1px solid #000;
    vertical-align: top;
}
table.third thead tr:first-child {
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid orangered;
    border-left: none;
    border-right: none;
}
table.third thead tr:nth-child(2) {
    background-color: #d1ffd1;
    font-weight: bold;
}
table.third tbody tr:last-child {
    border-bottom: 3px solid orangered;
}
table.third tbody tr td {
    border-top: none;
}
table.third tbody tr:first-child td {
    border-top: 1px solid #000;
}
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }
    thead, td.number {
        display: none;
        padding: 0;
    }    
}
